<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
	"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- namespace：当前XML文件用于配置哪个接口中抽象方法对应的SQL语句 -->
<mapper namespace="com.asiainfo.user.mapper.UserMapper">
	<!-- 用户注册的方法 -->
	<!-- Integer addnew(User user) -->
	<insert id="insertUser"
		useGeneratedKeys="true"
		keyProperty="uid">
		INSERT INTO crab_user(
				user_name, pass_word,
				phone,notes,ext,
				create_name,create_time,
				modify_name,modify_time
			) VALUES(
				#{userName}, #{passWord},
				#{phone},#{notes},#{ext},
				#{createName},#{createTime},
				#{modifyName},#{modifyTime}
			)
	</insert>
</mapper>






